.container {
  height: 100%;
  .toolbar {
    border-bottom: 1px solid #eee;
  }
  .main-content {
    position: relative;
    height: 100%;
    .conversation-messages {
      height: 80%;
      width: 100%;
    }
    .conversation-messages--has-image-preview {
      height: calc(80% - 7rem);
    }
    .image-preview__area {
      height: 7rem;
      width: 100%;
    }
    .image-preview {
      width: 7rem;
      height: 7rem;
    }
    .conversation-input {
      bottom: 1rem;
    }
  }
}